/* styles for page */

body, p, h1, h2, h3 {
	margin:0;
	padding:0;
	}

div.header {
background-color: rgb(15,182,148);
}

div.padding > h3 {
	margin-left:.5em;
	}
	
div.padding-body {
padding-top:10px;
margin:30px 5% 0 5%;
}



body {
}

.logo {
float:right;
padding-top: 25px;
padding-right: 25px;
margin: 0 0 10px 0;
width: 12.5em;
}

h1.title {
padding-top:40px;
margin-left: 50px;
line-height:1;
font-family: "Slate Pro", Arial Black, sans serif;
text-align: left; 
font-size: 500%;
color: white;
}

h2 {
font-family: "Slate Pro", Arial, sans serif;
text-align: left; 
padding-bottom: 20px;
font-weight:normal;
font-size: 300%;
color: white;
margin:25px 0 0 50px;
}

div.body {
border-left: 75px solid rgb(84,88,90);
border-right: 75px solid rgb(84,88,90);
background-color: white;
padding-bottom: 30px;
}

h3 {
font-family: Arial, Georgia, serif;
font-size:largest;
font-weight:normal;
text-indent: 2 em;
line-height:1em;
margin:20px 0;
text-align:center;
}

div.logo {
 width:15%;

 }


/* styles for buttons */

div.button {
	height: 40px;
	width: 110px;
	display: inline-block;
	margin: 5px;
	border-radius: 10px;
	text-align: center;
	vertical-align: middle;
	line-height:40px;
	border: 2px solid white;
}

div.button.primary {
	background-color: rgb(242,169,0);
	font-family: Arial, sans serif;
	font-weight:bold;
}

div.button.secondary {
	background-color: rgb(242,169,0);
	font-family: Arial, sans serif;
	font-weight:bold;
}

div.button.pressed {
	background-color: #3498db;
	border: 2px solid white;
}

.button:hover {
	border: 2px solid rgb(84,88,90);
	cursor: pointer; cursor: hand;
}

.reset:hover {
	border: 2px solid rgb(84,88,90);
	cursor: pointer; cursor: hand;
}

div.long {
	padding-top:.25em;
	line-height:110%;

}

div.box1 {
	padding:10px 5%;
	text-align:center;
	}
div.box2 {
	padding:0 5% 0 5%;
	margin:10px 0;
	text-align:center;
	}
	
div.box3 {
	padding: 0 5% 20px 0;
	text-align: right;
	border-bottom:1px solid #333333;
	font-family: Arial, sans serif;
	}
	
.reset {
	height: 30px;
	width: 85px;
	display: inline-block;
	margin: 5px;
	border-radius: 10px;
	text-align: center;
	vertical-align: middle;
	line-height:30px;
	border: 2px solid white;
	background-color: rgb(137,141,141);
	font-weight:bold;
	font-size:small;
	color:white;
}



/* styles for books */


div.book {
	height: 210px;
	width: 140px;
	display: inline-block;
	margin: 5px;
	padding: 0px;
	position: relative;
}

img.cover{
	max-height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	border: 1px solid black;
	box-shadow: 5px 5px 2.5px #888888;
}

div.hidden {
	display: none;
}


/* styles for popups */

div.popup {
	height: 0px;
	width: 0px;
	position: relative;
	top: -5px;
	left: -5px;
	background-color: rgb(234,236,237);
	box-shadow: 10px 10px 5px #888888;
	z-index: -10;
	border-radius: 10px;
	-webkit-transition: width 0.5s, height 0.5s;
	transition: width 0.5s, height 0.5s;
	margin: 0px;
	padding: 0px;
	font-family: Arial, sans serif;
}

div.popup.visible {
	height: 300px;
	width: 450px;
	border: 1px solid black;
	z-index: 10;
	-webkit-transition: width 0.5s, height 0.5s;
	transition: width 0.5s, height 0.5s;
}

.book:hover {
	cursor: pointer; cursor: hand;
}

/* hide anything inside a popup until it's time!*/

div.popup * {
	visibility: hidden;
	opacity: 0;
}
div.popup.visible * {
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 0.2s 0.5s;
	transition: opacity 0.2s 0.5s;
}

/* styles for contents of popups */

div.popup div.popup_cover {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 140px;
	height: 210px;
}

div.popup div.popup_buy {
	position: absolute;
	left: 10px;
	top: 235px;
	width: 140px;
	height: 35px;
	background-color: rgb(242,169,1);
	font-family:"Helvetica", sans serif;
	font-weight:bold;
	padding-top:0;
	border: 1px solid black;
	border-radius: 10px;
	text-align: center;
	vertical-align: middle;
	line-height:35px;
	box-shadow: 5px 5px 2.5px #888888;
}


div.popup_buy:before {
  content: "buy the book";
}

div.popup a:link {
	color: black;	
}

div.popup a:visited {
	color: black;	
}


div.popup div.popup_info {
	position: absolute;
	left: 170px;
	top: 10px;
	width: 272px;
	height: 288px;
	overflow-y: scroll;
}

div.popup div.popup_title {
	font-weight: bold;
	font-style: italic;
	font-size: 1.2em;
	text-align: left;
	padding-bottom: 5px;
}

div.popup div.popup_author {
	font-weight: bold;
	font-size: 1.2em;
	text-align: left;
	padding-bottom: 3px;
}

div.popup div.popup_description {
	text-align: left;
	padding-right: 8px;
	font-family:"Georgia", serif;
}

/* styles for footer */

div.footer{
	padding: 30px;
	padding-bottom: 30px;
	background-color: rgb(15,182,148);
}

div.footer a:link {
	text-decoration: none;	
	color: black;
	font-weight: bold;
}

div.footer a.share:visited {
	text-decoration: none;	
	color: black;
	font-weight: bold;
}

div.footer p {
	font-family: Arial, serif;
	padding: 10px;
}

div.share {
	height: 40px;
	width: 110px;
	display: inline-block;
	margin: 5px;
	border-radius: 10px;
	text-align: center;
	vertical-align: middle;
	line-height:120%;
	background-color: rgb(242,169,0);
	font-family:"Helvetica", sans serif;
	font-weight:bold;
	padding: 5px;
	padding-top:.5em;
	border: 2px solid rgb(15,182,148);
}

div.share:hover {
	border: 2px solid rgb(84,88,90);
	cursor: pointer; cursor: hand;
}
