/* styles for page */

body, p, h1, h2, h3 {
	margin:0;
	padding:0;
	}

div.header {
	background-color: rgb(15,182,148);
}

div.padding > h3 {
	margin-left:.5em;
	}

div.padding-body {
margin:0 5%;
}


img.logo {
padding-top: 25px;
padding-left: 75px;
margin: 0 0 10px 0;
width: 8em;
}

h1.title {
margin-left: 75px;
line-height:1;
font-family: "Slate Pro", Arial Black, sans serif;
text-align: left; 
font-size: 400%;
color: white;
padding-bottom: 10px;
}

/* media query to arrange head in two columns at larger screen widths */

@media only screen and (min-width: 650px) {

h1.title {
	float: left;
	width: 44%;
	padding-top:55px;
}

div.logo {
	float: right;
	padding-left: 0px;
	margin-right: 75px;
}

}


div.body {
border-left: 75px solid rgb(84,88,90);
border-right: 75px solid rgb(84,88,90);
background-color: white;
padding-bottom: 30px;
}

h3 {
font-family: Arial, Georgia, serif;
font-size:largest;
font-weight:normal;
text-indent: 2 em;
line-height:1em;
margin:20px 0;
text-align:center;
}



/* styles for buttons */

div.button {
	height: 40px;
	width: 110px;
	display: inline-block;
	margin: 5px;
	border-radius: 10px;
	text-align: center;
	vertical-align: middle;
	line-height:40px;
	border: 2px solid white;
}

div.button.primary {
	background-color: rgb(242,169,0);
	font-family: Arial, sans serif;
	font-weight:bold;
}

div.button.secondary {
	background-color: rgb(242,169,0);
	font-family: Arial, sans serif;
	font-weight:bold;
}

div.button.pressed {
	background-color: rgb(15,182,148);
	border: 2px solid white;
}

.button:hover {
	border: 2px solid rgb(84,88,90);
	cursor: pointer; cursor: hand;
}

.roundbutton:hover {
	border: 2px solid white;
	color: white;
	cursor: pointer; cursor: hand;
}

div.long {
	padding-top:.25em;
	line-height:110%;

}

div.box1 {
	padding:10px;
	text-align:center;
	}

div.box2 {
	padding:10px;
	text-align:center;
	}
	
div.box3 {
	text-align: right;
	font-family: Arial, sans serif;
	position: fixed;
	top: 190px;
	left: 10px;
	}

div.box4 {
	text-align: right;
	font-family: Arial, sans serif;
	position: fixed;
	top: 250px;
	left: 10px;
	}

div.box5 {
	text-align: right;
	font-family: Arial, sans serif;
	position: fixed;
	top: 310px;
	left: 10px;
	}


div.box6 {
	text-align: right;
	font-family: Arial, sans serif;
	position: fixed;
	top: 370px;
	left: 10px;
	}

div.clearfloat {
	clear: both;
}
	
div.buttonbox {
	border-bottom: 1px solid #333333;
	margin-bottom: 10px;
}	

/* media query to arrange buttons in two columns at larger screen widths */

@media only screen and (min-width: 800px) {

div.box1 {
	float: left;
	width: 75%;
}

div.box2 {
	float: right;
	width: 18%;
}

}

	
.roundbutton {
	height: 40px;
	width: 40px;
	display: inline-block;
	border-radius: 40px;
	text-align: center;
	vertical-align: middle;
	line-height:38px;
	background-color: rgb(137,141,141);
	font-weight:bold;
	font-size:35px;
	color:black;
	border: 2px solid black;
	z-index: 10;
}



/* styles for books */


div.book {
	height: 210px;
	width: 140px;
	display: inline-block;
	margin: 5px;
	padding: 0px;
	position: relative;
}

img.cover{
	max-height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	border: 1px solid black;
	box-shadow: 5px 5px 2.5px #888888;
}

div.hidden {
	display: none;
}


/* styles for popups */

div.popup {
	height: 0px;
	width: 0px;
	position: relative;
	top: -5px;
	left: -5px;
	background-color: rgb(234,236,237);
	box-shadow: 10px 10px 5px #888888;
	z-index: -10;
	border-radius: 10px;
	-webkit-transition: width 0.5s, height 0.5s;
	transition: width 0.5s, height 0.5s;
	margin: 0px;
	padding: 0px;
	font-family: Arial, sans serif;
}

div.popup.visible {
	height: 300px;
	width: 450px;
	border: 1px solid black;
	z-index: 10;
	-webkit-transition: width 0.5s, height 0.5s;
	transition: width 0.5s, height 0.5s;
}

.book:hover {
	cursor: pointer; cursor: hand;
}

/* hide anything inside a popup until it's time!*/

div.popup * {
	visibility: hidden;
	opacity: 0;
}
div.popup.visible * {
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 0.2s 0.5s;
	transition: opacity 0.2s 0.5s;
}

/* styles for contents of popups */

div.popup div.popup_cover {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 140px;
	height: 210px;
}

div.popup div.popup_buy {
	position: absolute;
	left: 10px;
	top: 235px;
	width: 140px;
	height: 35px;
	background-color: rgb(242,169,1);
	font-family:"Helvetica", sans serif;
	font-weight:bold;
	padding-top:0;
	border: 1px solid black;
	border-radius: 10px;
	text-align: center;
	vertical-align: middle;
	line-height:35px;
}


div.popup_buy:before {
  content: "buy the book";
}

div.popup a:link {
	color: black;	
}

div.popup a:visited {
	color: black;	
}


div.popup div.popup_info {
	position: absolute;
	left: 170px;
	top: 10px;
	width: 272px;
	height: 288px;
	overflow-y: scroll;
}

div.popup div.popup_title {
	font-weight: bold;
	font-style: italic;
	font-size: 1.2em;
	text-align: left;
	padding-bottom: 5px;
}

div.popup div.popup_author {
	font-weight: bold;
	font-size: 1.2em;
	text-align: left;
	padding-bottom: 3px;
}

div.popup div.popup_description {
	text-align: left;
	padding-right: 8px;
	font-family:"Georgia", serif;
}

/* styles for footer */

div.footer{
	padding: 30px;
	padding-bottom: 30px;
	background-color: rgb(15,182,148);
}

a:link {
	text-decoration: none;	
}

a.share:visited {
	text-decoration: none;	
}

div.footer p {
	font-family: Arial, serif;
	padding: 10px;
}

div.share:hover {
	border: 2px solid rgb(84,88,90);
	cursor: pointer; cursor: hand;
}
